*{
    padding: 0px;
    margin:0px;
     user-select: none;

}

.follow-container{
    width: 320px;
height: 352px;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

margin-top: 30px;




}


.main-folower{
    width: 320px;
height: 64px;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
justify-content: space-between;
}

.follower-img{
    width: 64px;
height: 64px;
background-color:#E5E5E5;
border-radius: 50%;
cursor: pointer;

}

.follower-img-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nick-name{

font-size: 14px;


}

.sugges-surename{
    font-size: 12px;
    color: #8E8E8E;

}


.sure-name{

    font-size: 12px;
    color: #8E8E8E;

    
    
    }

    .follow{
        font-size: 12px;
        color: #0095F6;
        cursor: pointer;

    }

   

    .sugges-text{
        display: flex;
       justify-content: center;
       align-items: center;
       margin-top: 20px;
       
    }
    .sugges{
        color: #8E8E8E;
        
        font-size: 12px;
        margin-right: 185px;



    }
    .sugges-nickname{
       font-size: 14px;
       color: #000000;
    }

    .bold-text{
      
   font-size: 12px;
   cursor: pointer;


    }

    .sugges-container{
        width: 320px;
        height: 40px;
    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        gap: 15px;cursor: pointer;
       
    }
    .sugges-img{
        width: 40px;
height: 40px;
background-color:#E5E5E5;
border-radius: 50%;
border: none;
cursor: pointer;
    }

    .sugges-img-info{
        display: flex;
        gap: 5px;
    }

    .container-suggesitions{
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 15px;
    }

    .sugges-container:hover{

    background-color: #fbf7f7;
    }

    .main-folower:hover{
        background-color: #fbf7f7;
        }
    

